@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --color-theme-pink: #fe7ee5; /* Wicked pink colour*/
  --color-theme-green: #4cbf46; /* Wicked green colour*/
  --color-text-light: #fdf7e4; /* Light text colour*/
  --color-background-primary: #000000; /* Primary colour*/
  --color-background-white: #ffffff; /* White colour for backgrounds and/or text*/
  --color-background-secondary: #f2d558; /* Secondary theme colour*/
  --color-secondary-darker: #d8ba35; /*Darker version of secondary for rectangle borders*/
  --color-text-brown: #ab751c; /*Brown colour */
}
